body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
        'Arial', sans-serif;
    padding: 20px 20px 60px;
    max-width: 680px;
    margin: 0 auto;
}

.pricingmain {
    position: absolute;
    width: 751px;
    height: 62.31px;
    left: 344px;
    top: 88.45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #F7FAFC;
}

.plans {
    position: absolute;
    width: 604px;
    height: 32.16px;
    left: 418px;
    top: 166.84px;

    /* 2xl */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    /* gray / 50 */

    color: #F7FAFC;

    opacity: 0.84;
}

.main {
    position: absolute;
    width: 1440px;
    height: 397px;
    left: 0px;
    top: 0px;
}

.bottom {
    background: #F5F5F5;
}

.pricing {
    position: absolute;
    width: 994px;
    height: 337px;
    left: 220px;
    top: 256px;
}